@using WebApp.Models
@model Status
@{
    ViewData["Title"] = "Dodawanie Slidera";
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Nazwa"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Opis"></label>
        <textarea asp-for="Opis" class="form-control"></textarea>
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>

    <button type="submit">Dodaj</button>
</form>