@using WebApp.Models
@model IEnumerable<Order>
@{
    ViewData["Title"] = "Lista Zamówień";
}
<div class="col-12">

    <a href="@Url.Action("Create", "Order")" class="btn btn-primary mb-2">Dodaj Kategorię</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.StatusName</td>

                    <td>
                        <a href="@Url.Action("Edit", "Order", new { id = order.OrderId })" class="btn btn-sm btn-info">Edytuj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>